.outerBox {
    display: flex;
    /*border: 1px dashed lightgrey;
    flex: 1;*/
    justify-content: center;
}

.innerBox {
    /*border: 1px solid blue;
    /*flex: 1;
    margin: 2px;
    width: 20px;
    height: 20px;*/
    flex: 0 0 auto;
}

body {
    display: flex;
    flex-direction: column;    
    align-items: center;
   
}

.sketchPad {
    
    border: 5px solid blue;
    flex: 0 1 auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hoverStyle {
    background-color: blue;
}

.hoverOffStyle {
    background-color: lightgrey;
}
.heading {
    display: flex;
    text-align: center;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 15px;
}